.habilidadesContainer h3 {
  font-size: 2rem;
  padding: 6rem 0 1rem 0;
}

.skills {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.skillsItems {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 750px) {
  .skills {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}
